USE [master]
GO
/****** Object:  Database [teDRL]    Script Date: 10/20/2024 11:17:35 PM ******/
CREATE DATABASE [teDRL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'teDRL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\teDRL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'teDRL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\teDRL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [teDRL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [teDRL]
GO
/****** Object:  Table [dbo].[CT_TC]    Script Date: 10/20/2024 11:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_TC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[noiDung] [nvarchar](255) NOT NULL,
	[diemTD] [int] NULL,
	[Tieu_ChiID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diem_CT]    Script Date: 10/20/2024 11:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem_CT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[diem] [int] NULL,
	[DRLID] [int] NOT NULL,
	[CT_TCID] [int] NOT NULL,
	[capDG] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRL]    Script Date: 10/20/2024 11:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[diemSV] [int] NULL,
	[diemCS] [int] NULL,
	[diemCV] [int] NULL,
	[status] [int] NULL,
	[Sinh_VienID] [varchar](255) NOT NULL,
	[HK_NKID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giang_Vien]    Script Date: 10/20/2024 11:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giang_Vien](
	[ID] [varchar](255) NOT NULL,
	[hoTen] [nvarchar](255) NOT NULL,
	[gioiTinh] [nvarchar](255) NULL,
	[ngaySinh] [date] NULL,
	[sdt] [varchar](255) NULL,
	[email] [varchar](255) NOT NULL,
	[diaChi] [nvarchar](255) NULL,
	[queQuan] [nvarchar](255) NULL,
	[Tai_KhoanID] [int] NOT NULL,
	[KhoaID] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HK_NK]    Script Date: 10/20/2024 11:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HK_NK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nienKhoa] [varchar](255) NULL,
	[hocKy] [int] NULL,
	[xet] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 10/20/2024 11:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[ID] [varchar](255) NOT NULL,
	[ten] [nvarchar](255) NOT NULL,
	[ngayTL] [date] NOT NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa_Hoc]    Script Date: 10/20/2024 11:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa_Hoc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[namBD] [int] NULL,
	[namKT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 10/20/2024 11:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[ID] [varchar](255) NOT NULL,
	[Khoa_HocID] [int] NOT NULL,
	[KhoaID] [varchar](255) NOT NULL,
	[Giang_VienID] [varchar](255) NOT NULL,
	[ten] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rules]    Script Date: 10/20/2024 11:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rules](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinh_Vien]    Script Date: 10/20/2024 11:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinh_Vien](
	[ID] [varchar](255) NOT NULL,
	[hoTen] [nvarchar](255) NOT NULL,
	[gioiTinh] [nvarchar](255) NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[sdt] [varchar](255) NOT NULL,
	[diaChi] [nvarchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[queQuan] [nvarchar](255) NOT NULL,
	[LopID] [varchar](255) NOT NULL,
	[Tai_KhoanID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tai_Khoan]    Script Date: 10/20/2024 11:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tai_Khoan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NULL,
	[status] [int] NULL,
	[RulesID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tieu_Chi]    Script Date: 10/20/2024 11:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tieu_Chi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[noiDung] [nvarchar](255) NOT NULL,
	[TongDiem] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thong_Bao]    Script Date: 10/20/2024 11:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thong_Bao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ngayBD] [date] NOT NULL,
	[ngayKT_SV] [date] NOT NULL,
	[ngayKT_CS] [date] NOT NULL,
	[ngayKT_CV] [date] NOT NULL,
	[ngayKT_Khoa] [date] NOT NULL,
	[HK_NKID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_TC]  WITH CHECK ADD  CONSTRAINT [FKCT_TC112867] FOREIGN KEY([Tieu_ChiID])
REFERENCES [dbo].[Tieu_Chi] ([ID])
GO
ALTER TABLE [dbo].[CT_TC] CHECK CONSTRAINT [FKCT_TC112867]
GO
ALTER TABLE [dbo].[Diem_CT]  WITH CHECK ADD  CONSTRAINT [FKDiem_CT194933] FOREIGN KEY([DRLID])
REFERENCES [dbo].[DRL] ([ID])
GO
ALTER TABLE [dbo].[Diem_CT] CHECK CONSTRAINT [FKDiem_CT194933]
GO
ALTER TABLE [dbo].[Diem_CT]  WITH CHECK ADD  CONSTRAINT [FKDiem_CT250412] FOREIGN KEY([CT_TCID])
REFERENCES [dbo].[CT_TC] ([ID])
GO
ALTER TABLE [dbo].[Diem_CT] CHECK CONSTRAINT [FKDiem_CT250412]
GO
ALTER TABLE [dbo].[DRL]  WITH CHECK ADD  CONSTRAINT [FKDRL620801] FOREIGN KEY([Sinh_VienID])
REFERENCES [dbo].[Sinh_Vien] ([ID])
GO
ALTER TABLE [dbo].[DRL] CHECK CONSTRAINT [FKDRL620801]
GO
ALTER TABLE [dbo].[DRL]  WITH CHECK ADD  CONSTRAINT [FKDRL968219] FOREIGN KEY([HK_NKID])
REFERENCES [dbo].[HK_NK] ([ID])
GO
ALTER TABLE [dbo].[DRL] CHECK CONSTRAINT [FKDRL968219]
GO
ALTER TABLE [dbo].[Giang_Vien]  WITH CHECK ADD  CONSTRAINT [FKGiang_Vien469073] FOREIGN KEY([KhoaID])
REFERENCES [dbo].[Khoa] ([ID])
GO
ALTER TABLE [dbo].[Giang_Vien] CHECK CONSTRAINT [FKGiang_Vien469073]
GO
ALTER TABLE [dbo].[Giang_Vien]  WITH CHECK ADD  CONSTRAINT [FKGiang_Vien728532] FOREIGN KEY([Tai_KhoanID])
REFERENCES [dbo].[Tai_Khoan] ([ID])
GO
ALTER TABLE [dbo].[Giang_Vien] CHECK CONSTRAINT [FKGiang_Vien728532]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FKLop574325] FOREIGN KEY([Khoa_HocID])
REFERENCES [dbo].[Khoa_Hoc] ([ID])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FKLop574325]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FKLop691828] FOREIGN KEY([Giang_VienID])
REFERENCES [dbo].[Giang_Vien] ([ID])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FKLop691828]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FKLop917756] FOREIGN KEY([KhoaID])
REFERENCES [dbo].[Khoa] ([ID])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FKLop917756]
GO
ALTER TABLE [dbo].[Sinh_Vien]  WITH CHECK ADD  CONSTRAINT [FKSinh_Vien299730] FOREIGN KEY([LopID])
REFERENCES [dbo].[Lop] ([ID])
GO
ALTER TABLE [dbo].[Sinh_Vien] CHECK CONSTRAINT [FKSinh_Vien299730]
GO
ALTER TABLE [dbo].[Sinh_Vien]  WITH CHECK ADD  CONSTRAINT [FKSinh_Vien333138] FOREIGN KEY([Tai_KhoanID])
REFERENCES [dbo].[Tai_Khoan] ([ID])
GO
ALTER TABLE [dbo].[Sinh_Vien] CHECK CONSTRAINT [FKSinh_Vien333138]
GO
ALTER TABLE [dbo].[Tai_Khoan]  WITH CHECK ADD  CONSTRAINT [FKTai_Khoan93239] FOREIGN KEY([RulesID])
REFERENCES [dbo].[Rules] ([ID])
GO
ALTER TABLE [dbo].[Tai_Khoan] CHECK CONSTRAINT [FKTai_Khoan93239]
GO
ALTER TABLE [dbo].[Thong_Bao]  WITH CHECK ADD  CONSTRAINT [FKThong_Bao853378] FOREIGN KEY([HK_NKID])
REFERENCES [dbo].[HK_NK] ([ID])
GO
ALTER TABLE [dbo].[Thong_Bao] CHECK CONSTRAINT [FKThong_Bao853378]
GO
USE [master]
GO
